age1 = 34
age2 = 45
marks = 23.4
name = "GreyAtom"

In [8]:
print(age,marks,name)

34 23.4 GreyAtom

In [36]:
age_compare = age1 < age2
print(age_compare)
print(marks)

True
23.4

In [41]:
a="ss"+"rr"

In [43]:
comp=10+5j

In [44]:
comp.imag

5.0

In [45]:
comp.real

10.0

In [48]:
13//2

6

In [49]:
13/2

6.5

In [50]:
int(marks)

23

In [52]:
str("234")

'234'

In [53]:
int("ASd")

ValueError: invalid literal for int() with base 10: 'ASd'

In [60]:
name1 = "'GreyAtom'"
name2 = '"GreyAtom"'
name3 = """GreyAtom
     Week1
"""

print(name1)
print(name2)
print(name3)

'GreyAtom'
"GreyAtom"
GreyAtom
     Week1

In [62]:
name1,name2,name3   #Encoded Value

("'GreyAtom'", '"GreyAtom"', 'GreyAtom\n     Week1\n')

In [65]:
len(name1)

10

# Indexing

In [69]:
name1[1]

'G'

In [72]:
name1[5:9]

'Atom'

In [74]:
 name1[5:len(name1)-1]

'Atom'

# Negative indexing

In [75]:
name1[-2]

'm'

In [80]:
name1[-5:-1]

'Atom'

In [82]:
name1[-1:-5]

''

# String Concatentation

In [83]:
print(name1 + name2)

'GreyAtom'"GreyAtom"

In [84]:
print('GA'*5)

GAGAGAGAGA

In [86]:
print('GA'*5+name2)

GAGAGAGAGA"GreyAtom"

# Part of String

In [87]:
'Grey' in name1

True

In [88]:
'grey' in name1

False

In [89]:
'Grey' not in name1

False

In [90]:
'grey' not in name1

True

# string function

In [91]:
len(name1)

10

In [94]:
name1.startswith("'")

True

In [95]:
name1.endswith("'")

True

In [97]:
print(name1)

'GreyAtom'

In [98]:
name1.lower()

"'greyatom'"

In [99]:
name1.upper()

"'GREYATOM'"

In [103]:
"10,12,3,5,65,12".split(",")

['10', '12', '3', '5', '65', '12']

# Formatted String

In [104]:
"Student {0} is having {1} marks".format(name,age1)

'Student GreyAtom is having 34 marks'

In [106]:
id(name1)

2965838547888

In [107]:
id(name2)

2965838565104

In [110]:
s="abc"
t="abc"
c=s
print( id(s) == id(t) )
print( id(s) == id(c) )

True
True

# List

In [113]:
score=[12,23,35,12]
score

[12, 23, 35, 12]

In [115]:
score[2]

35

In [116]:
score[-1]

12

In [117]:
score[1:3]

[23, 35]

In [118]:
score[-5:-3]

[12]

In [119]:
score

[12, 23, 35, 12]

In [120]:
score[2]=66

In [121]:
score

[12, 23, 66, 12]

List are Immutable

In [125]:
score.append(10)

In [126]:
a=[12,44]

In [130]:
score.extend(a)
score

[12, 23, 66, 12, 10, 12, 44, 12, 44, 12, 44, 12, 44]

In [132]:
print(min(score))
print(max(score))

10
66

In [152]:
print(score)
score.reverse()
print(score)

[44, 12, 44, 12, 44, 12, 44, 12, 10, 12, 66, 23, 12]
[12, 23, 66, 12, 10, 12, 44, 12, 44, 12, 44, 12, 44]

In [148]:
score

[12, 23, 66, 12, 10, 12, 44, 12, 44, 12, 44, 12, 44]

# Tuple